.btn-link {
    color:#428bca;
    cursor:pointer;
    border-radius:0;
}

.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link {
    background-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active {
    border-color:transparent;
}

.btn-link:hover,.btn-link:focus {
    color:#2a6496;
    text-decoration:underline;
    background-color:transparent;
}

.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus {
    color:#999;
    text-decoration:none;
}

.btn-lg,.btn-group-lg>.btn {
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    border-radius:6px;
}