.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
    background: url('../images/background.png');
    background-color: #090F15;
    background-repeat:repeat-x;
    background-position:top;
    background-attachment:fixed;
    color: #fff;
    font-size: 10px;
    font-family: verdana;
    line-height: normal;
}

table {
    text-align: left;
}

#filters {
    text-align: center;
    background: rgba(255,255,255,0.05);
    border: 2px solid #000000;
    margin: 0px 2px 0px 2px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-top: 8px;
    margin-bottom: 20px;
}

input[type="text"], select {
    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    background: rgba(0,0,0,0.65);
    border: 2px solid rgba(0,0,0,1);
    color: #FFF;
    height: 20px;
    line-height:15px;
    margin-bottom: 8px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 110px;
    border-radius: 4px;
	/* Change how the dropdown arrow looks, it should be #FFF along with the text
	
	-webkit-appearance: none;
	background: url("downArrow.png") no-repeat right #000;
	*/
}

input[type="checkbox"] {
    margin-bottom: 8px;
}

#text-filters input:last-child, #select-filters select:last-child {
    margin-right: 0px !important;
}

#navigation table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

th {
    font-weight: bold;
}

td {
    padding-left: 5px;
}

.panel {
    background: #1C2C3C;
    border: 3px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    padding: 7px;
}

#navigation hr {
    margin-top: 18px;
    border-color: black;
}
#navigation .page-title {
    min-height: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.menu li {
    display:inline;
}

.menu li a {
    text-decoration: none;
}

.menu img {
    width:23px;
}

.menu {
    margin-top: 5px;
}

.menu ul {
    text-align: center;
}

h1, h2 {
    color: white;
    font-weight: bold;
    margin: 18px 0px 0px 0px;
    text-shadow:1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    0px 1px 0 #000,
    1px 0px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size:15px;
    margin-bottom: 2px;
}

.panel .banner {
    max-width: 130px;
    border: 2px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left: -2px;
}


.fb-login-button {
    width:18px;
    height: 18px;
}

#navigation,
#controlPanel {
    margin-top: 60px;
	padding-bottom: 18px;
}

#post {
    margin-top: 16px;
	min-height: 598px;
	padding-bottom: 0px;
}
    
#floater {
    width: 126px;
    height: 126px;
    position: relative;
    top: -92px;
	left: 2px;
    margin-bottom: -116px;
}

#targets {
    position: relative;
    top: -32px;
    right: 10px;
    margin-bottom: -40px;
}

.message-box button{
    position: absolute;
    right: 10px;
    top: 5px;
}

.message-box #message {
    display: block;
    text-align: center;
}

.message-box {
    font-weight: bold;
    margin-top: 40px;
    padding: 10px;
    background-color: #bde5f8;
    color: #3d7cb2;
    border: 3px solid #3d7cb2;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
}

.message-box .ok {
    display: inline-block;
    text-align: center;
    width: 32px;
    border: 2px solid black;
    padding: 2px;
    margin-left: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.de-link,
.message-box .ok:hover {
    cursor: pointer;
}

.message-box.hidden {
    opacity: 0;
}

.message-box.info {
    color: #3d7cb2;
    border: 3px solid #3d7cb2;
}

.message-box.success {
    background-color: #dff2bf;
    color: #a5c084;
    border: 2px solid #a5c084;
}

.message-box.warning {
    background-color: #feefb3;
    color: #c9aa73;
    border: 2px solid #c9aa73;
}

.message-box.error {
    background-color: #ffbaba;
    color: #d20000;
    border: 2px solid #d20000;
}

.modal-dialog .message-box {
    margin-top: 0px;
    margin-bottom: 10px;
}

.simfileListing {
    background: rgba(0,0,0,0.25);
    border: 2px solid rgba(0,0,0,0.3);
    margin: 5px 2px 2px 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.simfileListing img {
    float: left;
    background: #000;
    border: 2px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    max-width: 344px;
    margin-right:11px;
}

.simfileListing .panel-body {
    margin-top: 5px;
}

a {
    font-weight: bold;
    color: #FFB122;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.simfileListing.active {
    background: rgba(0,0,0,0.5);
    border: 2px solid rgba(0,0,0,1);
}

.simfileListing .difficulty {
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
	color:#000;
	font-weight:bold;
}

.difficulty.Expert {
    background: #359cd7;
    border: 2px solid #03407f;
}

.difficulty.Hard {
    background: #c62d2f;
    border: 2px solid #8b0100;
}

.difficulty.Medium {
    background: #fefa15;
    border: 2px solid #889100;
}

.difficulty.Easy {
    background: #0af90a;
    border: 2px solid #009901;
}

.difficulty.Novice {
    background: #d390dd;
    border: 2px solid #700893;
}

#privacy {
    position: fixed;
    bottom: 4px;
    right: 4px;
}

.help-block {
    display: block;
    margin-bottom: 10px;
}