.container {
	WIDTH: 1008px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; MARGIN-TOP: 30px
}
.box_side {
	POSITION: relative; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}

.box_main {
	POSITION: relative; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}

.container .box_side {
	WIDTH: 150px
}
.container .box_main {
	WIDTH: 698px
}

.container .box_full {
    width: 1008px;
}

.clear {
	WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden
}
.clearfix:after {
	LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: ' '
}
.clearfix {
	DISPLAY: inline-block
}
* HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
