<img id="targets" src="images/Targets.png" />
<div ng-if="menuReady">
    <h1 ng-if="loggedIn">Welcome!</h1>
    <h1 ng-if="!loggedIn">Hello!</h1>
    <ul>
        <li>
            {{welcomeMessage}}
            <a class="de-link" ng-if="loggedIn" ng-click="doLogout()">logout</a>
            <span ng-if="!loggedIn">Login to access your own control panel.</span>
            <a class="btn btn-block btn-social btn-facebook" ng-if="!loggedIn" ng-click="doLogin()">
                <i class="fa fa-facebook"></i>
                Facebook Login
            </a>
        </li>
    </ul>
    <div ng-if="loggedIn">
        <h1>My Arrows</h1>
        <ul>
            <li><a class="de-link" ng-click="openPublicProfile()">Public Profile</a></li>
            <li><a class="de-link" ng-click='openAccountSettings()'>Account Settings</a></li>
        </ul>
        <!--<ul>
            <li>My Uploads</li>
            <li>My Favourite Files</li>
            <li>My Favourite Uploaders</li>
            <li>My Followers</li>
        </ul>
        <br />
        <ul>
            <li>All Members</li>
        </ul>-->
        <h1>My Quota</h1>
        {{quotaRemaining}} of {{quota}} remaining <a class="de-link" popover="Quota is used when downloaing files directly from DivinElegy. It resets at 00:00 UTC+0 daily." popover-trigger="mouseenter" popover-placement="right">[?]</a>
    </div>
</div>
<div ng-if="!menuReady" style="text-align:center; padding-top: 10px; padding-bottom: 10px;">
    <img class="rotato" src="images/page_loading.png" />
    <h2>Just a moment...</h2>
</div>