<input type="text" ng-model="artistFilterKeyword" placeholder="artist..."/>
<input type="text" ng-model="titleFilterKeyword" placeholder="title..."/>
<select ng-model="difficultyFilterKeyword">
    <option value="Any" selected="selected">Any</option>
    <option value="Novice">Novice</option>
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
    <option value="Expert">Expert</option>
</select>
<input type="text" ng-model="ratingFilterKeyword" placeholder="rating..."/>
<input type="text" ng-model="stepArtistFilterKeyword" placeholder="step artist..."/>
FG changes: <input type="checkbox" ng-model="fgChangesFilterKeyword">
BG changes: <input type="checkbox" ng-model="bgChangesFilterKeyword">
BPM changes: <input type="checkbox" ng-model="bpmChangesFilterKeyword">

<ul class="simfileList">
    <li class="simfileListing" ng-class="{active: isListingActive($index)}" ng-repeat="simfile in simfileList | filter: artistFilter
                                                                                                              | filter: titleFilter
                                                                                                              | filter: stepsFilter
                                                                                                              | filter: fgChangesFilter
                                                                                                              | filter: bgChangesFilter
                                                                                                              | filter: bpmChangesFilter
    ">
        <a ng-click="openListing($index)">{{simfile.title}}</a>
        <div class="content" ng-show="isListingActive($index)">
            <simfile rock-endpoint="rockEndpoint"
                     simfile="simfile"
                     banner="simfile.banner"
                     title="simfile.title"
                     artist="simfile.artist"
                     steps="simfile.steps"
                     bpm-changes="simfile.bpmChanges"
                     bg-changes="simfile.bgChanges"
                     fg-changes="simfile.fgChanges"
            />
        </div>
    </li>
</ul>