<div ng-if="packList && packList.length" id="filters">
    <div id="filters-wrapper">
        <div id="text-filters">
            <input type="text" ng-model="$parent.packTitleFilterKeyword" placeholder="Pack Title" typeahead="pack.title for pack in packList | filter:$viewValue | limitTo:8"/>
            <input type="text" ng-model="$parent.artistFilterKeyword" placeholder="Song Artist" typeahead="artist for artist in allSongArtists | filter:$viewValue | limitTo:8" />
            <input type="text" ng-model="$parent.songTitleFilterKeyword" placeholder="Song Title" typeahead="song for song in allSongTitles | filter:$viewValue | limitTo:8" />
            <input type="text" ng-model="$parent.stepArtistFilterKeyword" placeholder="Step Artist" typeahead="contributor for contributor in allContributors | filter:$viewValue | limitTo:8" />
            <input type="text" ng-model="$parent.ratingFilterKeyword" placeholder="Block Rating"/>
        </div>
        <div id="select-filters">
            <select ng-model="$parent.modeFilterKeyword">
                <option value="Any" disabled selected>Mode</option>
                <option value="Any">Any</option>
                <option value="single">Single</option>
                <option value="double">Double</option>
            </select>
            <select ng-model="$parent.difficultyFilterKeyword">
                <option value="Any" disabled selected>Difficulty</option>
                <option value="Any">Any</option>
                <option value="Novice">Novice</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
                <option value="Expert">Expert</option>
                <option value="Edit">Edit</option>
            </select>
            <select ng-model="$parent.fgChangesFilterKeyword">
                <option value="Any" disabled selected>FG Changes</option>
                <option value="Any">Any</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <select ng-model="$parent.bgChangesFilterKeyword">
                <option value="Any" disabled selected>BG Changes</option>
                <option value="Any">Any</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <select ng-model="$parent.bpmChangesFilterKeyword">
                <option value="Any" disabled selected>BPM Changes</option>
                <option value="Any">Any</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div id="sorts">
            <select ng-model="$parent.sortOrder">
                <option value="alpha">Alphabetical</option>
                <option value="chrono">Newest</option>
            </select><br />
            <label>Reverse sort: 
                <input type="checkbox" ng-model="$parent.reverseSort">
            </label>
        </div>
    </div>
</div>

<accordion ng-if="packList && packList.length" close-others="false">
    <accordion-group class         = "simfileListing"
                     is-open       = "isOpen"
                     ng-mouseover  = "beast = true"
                     ng-mouseout   = "beast = false"
                     ng-class      = "{active: isOpen}"
                     heading       = "{{isOpen ? '- ' + pack.title : '+ ' + pack.title}}"
                     ng-init       = "beast=false"
                     ng-repeat     = "pack in filteredPackList | startFrom: (currentPage-1)*pageSize | limitTo: pageSize"
    >
        <pack ng-if="beast || isOpen" pack="pack" />
    </accordion-group>
    <div style="text-align: center">
        <pagination total-items="filteredPackList.length" items-per-page="pageSize" ng-model="currentPage" boundary-links="true" rotate="false" max-size="8"></pagination>
    </div>
</accordion>

<h1 ng-if="pack">{{pack.title}}</h1>
<div ng-if="pack" class="simfileListing">
    <!-- rofl -->
    <pack pack="pack" />
</div>

<div ng-if="!packList" style="text-align:center; padding-top: 250px; padding-bottom: 10px;">
    <img class="rotato" src="images/page_loading.png" />
    <h2>Loading packs...</h2>
</div>