<input type="text" ng-model="packTitleFilterKeyword" placeholder="pack title..."/>
<input type="text" ng-model="artistFilterKeyword" placeholder="artist..."/>
<input type="text" ng-model="songTitleFilterKeyword" placeholder="song title..."/>
<select ng-model="difficultyFilterKeyword">
    <option value="Any" selected="selected">Any</option>
    <option value="Novice">Novice</option>
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
    <option value="Expert">Expert</option>
</select>
<input type="text" ng-model="ratingFilterKeyword" placeholder="rating..."/>
<input type="text" ng-model="stepArtistFilterKeyword" placeholder="step artist..."/>
FG changes: <input type="checkbox" ng-model="fgChangesFilterKeyword">
BG changes: <input type="checkbox" ng-model="bgChangesFilterKeyword">
BPM changes: <input type="checkbox" ng-model="bpmChangesFilterKeyword">

<accordion close-others="false">
    <accordion-group class     = "simfileListing"
                     is-open   = "isOpen"
                     ng-class  = "{active: isOpen}"
                     heading   = "{{isOpen ? '- ' + pack.title : '+ ' + pack.title}}"
                     ng-init   = "contributors=getContributors(pack.contributors)"
                     ng-repeat = "pack in packList | filter: packTitleFilter
                                                   | filter: artistFilter
                                                   | filter: songTitleFilter
                                                   | filter: stepsFilter
                                                   | filter: fgChangesFilter
                                                   | filter: bgChangesFilter
                                                   | filter: bpmChangesFilter"
    >
        <img ng-src="{{rockEndpoint}}{{pack.banner}}" alt="swage" />
        <table>
            <tr>
                <th>Title:</th>
                <td>{{pack.title}}</td>
            </tr>
            <tr>
                <th>Contributors:</th>
                <td>{{contributors}}</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr ng-if="pack.size">
                <th>Size:</th>
                <td>{{pack.size}}</td>
            </tr>
            <tr>
                <th>Uploaded Date:</th>
                <td>{{pack.uploaded}}</td>
            </tr>
            <tr ng-if="pack.mirrors">
                <th>Downloads:</th>
                <td>
                    <ul>
                        <li class="mirrorListing" ng-repeat="mirror in pack.mirrors">
                            <a ng-if="mirror.source == 'DivinElegy'" ng-click="downloadFromDe(pack)" class="de-link">{{mirror.source}}</a>
                            <a ng-if="mirror.source != 'DivinElegy'" href="{{mirror.uri}}">{{mirror.source}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <div class="clearfix"></div>
        <h1>Charts</h1>
        <accordion>
            <accordion-group class="simfileListing" is-open="isOpen2" ng-class="{active: isOpen2}" heading="{{isOpen2 ? '- ' + simfile.title : '+ ' + simfile.title}}" ng-repeat="simfile in pack.simfiles">
                <simfile rock-endpoint="rockEndpoint"
                         simfile="simfile"
                         banner="simfile.banner"
                         title="simfile.title"
                         artist="simfile.artist"
                         steps="simfile.steps"
                         bpm-changes="simfile.bpmChanges"
                         bg-changes="simfile.bgChanges"
                         fg-changes="simfile.fgChanges"
                />
            </accordion-group>
        </accordion>
    </accordion-group>
</accordion>