<h2>Most Popular</h2>
<a ng-href="{{packOrSimfile.mirrors[packOrSimfile.mirrors.length-1].uri}}">
    <img class="banner" ng-src="{{rockEndpoint}}{{banner}}" alt="banner" />
</a>
<h3>{{title}}</h3>
<table>
    <tr>
        <th>By:</th>
        <td ng-text-truncate="contributors" ng-tt-chars-threshold="50" ng-tt-more-label="More" ng-tt-less-label="Less"></td>
    </tr>
    <tr>
        <th>Download:</th>
        <td>
            <ul>
                <li class="mirrorListing" ng-repeat="download in downloads">
                    <a ng-if="download.source == 'DivinElegy'" ng-click="downloadFromDe(packOrSimfile)" class="de-link">{{download.source}}</a>
                    <a ng-if="download.source != 'DivinElegy'" href="{{download.uri}}">{{download.source}}</a>
                </li>
            </ul>
        </td>
    </tr>
</table>