<img ng-src="{{rockEndpoint}}{{pack.banner}}" alt="swage" />
<table>
    <tr>
        <th>Title:</th>
        <td>{{pack.title}}</td>
    </tr>
    <tr>
        <th>Contributors:</th>
        <td>{{contributors}}</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr ng-if="pack.size">
        <th>Size:</th>
        <td>{{pack.size}}</td>
    </tr>
    <tr>
        <th>Uploaded Date:</th>
        <td>{{pack.uploaded}}</td>
    </tr>
    <tr ng-if="pack.mirrors">
        <th>Downloads:</th>
        <td>
            <ul>
                <li class="mirrorListing" ng-repeat="mirror in pack.mirrors">
                    <a ng-if="mirror.source == 'DivinElegy'" ng-click="downloadFromDe(pack)" class="de-link">{{mirror.source}}</a>
                    <a ng-if="mirror.source != 'DivinElegy'" href="{{mirror.uri}}">{{mirror.source}}</a>
                </li>
            </ul>
        </td>
    </tr>
</table>
<div class="clearfix"></div>
<h1>Charts</h1>
<accordion>
    <accordion-group class="simfileListing" ng-init="beast = false" ng-mouseover="beast = true" ng-mouseout="beast = false" is-open="isOpen" ng-class="{active: isOpen}" heading="{{isOpen ? '- ' + simfile.title : '+ ' + simfile.title}}" ng-repeat="simfile in pack.simfiles">
        <simfile ng-if="beast || isOpen" simfile="simfile" />
    </accordion-group>
</accordion>