<img ng-src="{{rockEndpoint + simfile.banner}}" alt="swage" />
<table>
    <tr>
        <th>Title:</th>
        <td>{{simfile.title}}</td>
    </tr>
    <tr>
        <th>Artist:</th>
        <td>{{simfile.artist}}</td>
    </tr>
    <tr ng-if="simfile.steps.single.length">
        <th>Single:</th>
        <td>
            <ul>
                <li ng-repeat="stepchart in simfile.steps.single">
                    <div class="difficulty {{stepchart.difficulty}}">{{stepchart.rating}} ({{stepchart.artist}})</div>
                </li>
            </ul>
        </td>
    </tr>
    <tr ng-if="simfile.steps.double.length">
        <th>Double:</th>
        <td>
            <ul>
                <li ng-repeat="stepchart in steps.double">
                    <span>{{stepchart.difficulty}} {{stepchart.rating}}</span>
                </li>
            </ul>
        </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
        <th>BPMChanges:</th>
        <td>{{simfile.bpmChanges}}</td>
    </tr>
    <tr>
        <th>BGChanges:</th>
        <td>{{simfile.bgChanges}}</td>
    </tr>
    <tr>
        <th>FGChanges:</th>
        <td>{{simfile.fgChanges}}</td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <!-- TODO: these need to be implemented properly at some point -->
    <tr ng-if="size">
        <th>Size:</th>
        <td>{{size}}</td>
    </tr>
    <tr ng-if="uploaded">
        <th>Upload Date:</th>
        <td>{{uploaded}}</td>
    </tr>
    <tr ng-if="download">
        <th>Download:</th>
        <td><a ng-click="downloadFromDe(simfile)" class="de-link">DivinElegy</a></td>
    </tr>
</table>
<div class="clearfix"></div>