<img ng-src="{{rockEndpoint}}{{banner}}" alt="swage" />
<table>
    <tr>
        <th>Title:</th>
        <td>{{title}}</td>
    </tr>
    <tr>
        <th>Artist:</th>
        <td>{{artist}}</td>
    </tr>
    <tr ng-if="steps.single.length">
        <th>Singles:</th>
        <td>
            <ul>
                <li ng-repeat="stepchart in steps.single">
                    <div class="difficulty {{stepchart.difficulty}}">{{stepchart.rating}} ({{stepchart.artist}})</div>
                </li>
            </ul>
        </td>
    </tr>
    <tr ng-if="steps.double.length">
        <th>Doubles:</th>
        <td>
            <ul>
                <li ng-repeat="stepchart in steps.double">
                    <span>{{stepchart.difficulty}} {{stepchart.rating}}</span>
                </li>
            </ul>
        </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
        <th>BPMChanges:</th>
        <td>{{bpmChanges}}</td>
    </tr>
    <tr>
        <th>BGChanges:</th>
        <td>{{bgChanges}}</td>
    </tr>
    <tr>
        <th>FGChanges:</th>
        <td>{{fgChanges}}</td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr ng-if="size">
        <th>Size:</th>
        <td>{{size}}</td>
    </tr>
    <tr ng-if="uploaded">
        <th>Upload Date:</th>
        <td>{{uploaded}}</td>
    </tr>
    <tr ng-if="download">
        <th>Download:</th>
        <td><a ng-click="downloadFromDe(simfile)" class="de-link">DivinElegy</a></td>
    </tr>
</table>
<div class="clearfix"></div>